
.about {
  min-height: 100vh;
  background: linear-gradient(135deg, #0a0821, #0d1430, #0d1236);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.about-container ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

.about__link {
  color: #ffffff;
  transition: color 0.3s ease;
  font-size: 20px;

  text-decoration: none;
}

.about__span {
  color: #fe1515;
  text-decoration: none;
  font-size: 24px;
  margin-bottom: 15px;
  display: inline-block;
}

.text h1 {
  font-size: 50px;
  color: #ffffff;
  margin-bottom: 20px;
  line-height: 1.3;
}

.text p {
  font-size: 23px;
  color: #dcdcdc;
  line-height: 1.7;
  margin-bottom: 25px;
}

.btn {
  background: linear-gradient(92.48deg, #D80027 2.08%, #FB9E3C 117.25%);
  color: #fff;
  border: none;
  padding: 14px 30px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 10px 25px rgba(193, 47, 11, 0.4);
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 30px rgba(223, 73, 3, 0.66);
}

.image img {
  width: 100%;
  max-width: 550px;
  height: 470px;
  border-radius: 20px;
  object-fit: cover;
}

.float-img {
  animation: float 4s ease-in-out infinite, fade 1s ease-in-out;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}

@keyframes fade {
  0% { opacity: 0; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}
