*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
<<<<<<< HEAD
}
.container{
    width: 1200px;
    margin: 0 auto;
=======
    text-decoration: none;
>>>>>>> fe99063f9b3c954ce33603e848b79ac1215111f9
}